@font-face {
  font-family: 'Quattrocento Sans';
  font-style: normal;
  font-weight: 400;
  src:
    url('../fonts/quattrocento-sans-v12-latin-regular.woff2') format('woff2'),
    url('../fonts/quattrocento-sans-v12-latin-regular.woff') format('woff');

}

@font-face {

  font-family: 'Quattrocento Sans';
  font-style: normal;
  font-weight: 700;
  src:
    url('../fonts/quattrocento-sans-v12-latin-700.woff2') format('woff2'),
    url('../fonts/quattrocento-sans-v12-latin-700.woff') format('woff');
}

@font-face {
  font-family: 'Vani';
  font-style: normal;
  font-weight: 400;
  src:
    url('../fonts/Vani.woff2') format('woff2'),
    url('../fonts/Vani.woff') format('woff');
}

body {
  min-width: 1170px;
  font-size: 18px;
  line-height: 30px;
  color: #3d3d3d;
  font-family: "Quattrocento Sans", Arial, sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  width: 1140px;
  margin: 0 auto;
}
.appointment__form {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
}
.appointment__textfield {
  width: 48%;
  box-sizing: border-box;
  border: none;
  background-color: transparent;
  border-bottom:1px solid #808080;
  color: #808080;
padding: 10px;

}
.appointment__message {
  width: 100%;
  height: 120px;
  background-color: transparent;
  border: none;
  border-bottom:1px solid #808080;
  color: #808080;
  padding-top: 50px;

}
.appointment__select {
  width: 48%;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  border-bottom:1px solid #808080;
  color: #808080;
  
}
.appointment__datefield{
  width: 48%;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  border-bottom:1px solid #808080;
  color: #808080;
}
.appointment__btn {
  margin-top: 30px;
  color: #ffffff;
  background-color: #985336;
  width: 240px;
  height: 70px;
  border: 1px solid #6e331a;

} 

.page-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 9px;
}

.page-header__info-list {
  width: 920px;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 3px;
  display: flex;
  align-items: center;
}

.page-header__info-item:nth-of-type(1) {
  width: 165px;
  padding-left: 46px;
  margin-right: 36px;
}

.page-header__info-item:nth-of-type(2) {
  width: 225px;
  padding-left: 46px;
  margin-right: 42px;
}

.page-header__info-item:nth-of-type(3) {
  width: 95px;
  padding-left: 46px;
}

.page-header__info-item:nth-of-type(4) {
  width: 30px;
  margin-left: auto;
}

.page-header__info-link {
  display: block;
  font-size: 16px;
  line-height: 24px;
  color: #454545;
  font-weight: 700;
  letter-spacing: 0.4px;
}

.page-header__info-link:hover {
  color: #985336;
}

.page-header__info-link:focus {
  color: #985336;
}

.page-header__info-link:active {
  color: rgba(152, 83, 54, 0.6);
}

.page-header__info-text {
  font-size: 16px;
  line-height: 24px;
  color: #454545;
  font-weight: 700;
  letter-spacing: 0.4px;
}

.main-menu__link {
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 1.5;
  color: #e8e6e6;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  padding: 23px 21px;
  padding-bottom: 21px;
}

.main-menu__link:hover {
  color: #985336;
}

.main-menu__link:focus {
  color: #985336;
}

.main-menu__link:active {
  color: rgba(152, 83, 54, 0.6);
}

.main-menu__link--current {
  color: #2c2c2b;
  background-color: rgba(153, 84, 55, 0.25);
  border-bottom: 2px solid #995437;
}

.main-menu__link--current:hover {
  color: #2c2c2b;
}
.main-menu{
  list-style: none;
  padding: 0;
  padding-left: 44px;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.slider__slogan {
  font-size: 72px;
  line-height: 95px;
  font-family: "Vani", 'Times New Roman', serif;
  font-weight: bold;
  text-transform: uppercase;
}

.slider__text--white {
  color: #ffffff;
}


.slider__text--brown {
  color: #985336;
}

.slider__btn {
  font-size: 30px;
  letter-spacing: 1px;
  line-height: 95px;
  color: #ffffff;
  font-weight: 400;
}


.section-title {
  font-size: 36px;
  letter-spacing: 1px;
  line-height: 95px;
  color: #212121;
  font-family: "Vani", 'Times New Roman', serif;
  font-weight: bold;
  text-align: center;
}
.page-header__nav {
  background-color: rgba(0, 0, 0, 0.25);
}
.about__title {
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 30px;
  color: #212121;
  font-family: "Vani", 'Times New Roman', serif;
  text-align: center;
}

.statistics__price {
  font-size: 60px;
  letter-spacing: 2px;
  line-height: 30px;
  color: #995437;
  font-family: "Vani", 'Times New Roman', serif;
  font-weight: bold;
  text-align: center;
}
.section-title--white {
  font-size: 36px;
letter-spacing: 1px;
line-height: 1px;
color:  #ffffff;
text-transform: uppercase;
letter-spacing: 3.6px;
font-weight: bold;
}
.appointment {
  padding-top: 91px;
}
.bgimage{
  background-image: url("../img/mustach.png");
  width: 69px;
  height: 18px;
  margin-left: auto;
  margin-right: auto;
  
}
.statistics__text {
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 30px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
}

.services__title {
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 30px;
  color: #212121;
  font-family: "Vani", 'Times New Roman', serif;
  text-align: right;
}
.appointment{
  background-color: black;

}
.appointment__form {
 text-align: center;
}
.appointment .section-title {
  color: #ffffff;
}

.appointment__description {
  color: #808080;
  text-align: center;
}
.page-header__info-item{
  position: relative;
}
.page-header__info-item::before {
  content: "";
  background-image: url("../img/phone.png");
  width: 19px;
  height: 19px;
  display: block;
  position: absolute;
  top:  13px;
  left: 6px;
  background-repeat: no-repeat;
  
}
.page-header__info-item:nth-of-type(2)::before {
  background-image: url("../img/map.png");
  top: 13px;
  left: 12px;
  width:  14px;
  height: 21px;
}
.page-header__info-item:nth-of-type(3)::before {
  background-image: url("../img/clock.png");
  top: 29px;
  left: 6px;
  width: 21px;
  height:21px;

}
.page-header__info-item:nth-of-type(4)::before {
  background-image: url("../img/search.png");
  top: -11px;
  left: 10px;
 
}
.barbers__name {
  font-size: 24px;
  letter-spacing: 1px;
  line-height: 95px;
  color: #0b0b0b;
  font-family: "Vani", 'Times New Roman', serif;
  font-weight: bold;
}


.reviews .section-title {
  color: #ffffff;
}

.reviews__description {
  color: #ffffff;
}

.reviews__text {
  color: #ffffff
}

.reviews__name {
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 26px;
  color: #ffffff;
  font-family: "Vani", 'Times New Roman', serif;
  text-align: center;
}