@font-face {
  font-family: 'Quattrocento Sans';
  font-style: normal;
  font-weight: 400;
  src:
    url('../fonts/quattrocento-sans-v12-latin-regular.woff2') format('woff2'),
    url('../fonts/quattrocento-sans-v12-latin-regular.woff') format('woff');

}

@font-face {

  font-family: 'Quattrocento Sans';
  font-style: normal;
  font-weight: 700;
  src:
    url('../fonts/quattrocento-sans-v12-latin-700.woff2') format('woff2'),
    url('../fonts/quattrocento-sans-v12-latin-700.woff') format('woff');
}

@font-face {
  font-family: 'Vani';
  font-style: normal;
  font-weight: 400;
  src:
    url('../fonts/Vani.woff2') format('woff2'),
    url('../fonts/Vani.woff') format('woff');
}

body {
  min-width: 1170px;
  font-size: 18px;
  line-height: 30px;
  color: #3d3d3d;
  font-family: "Quattrocento Sans", Arial, sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.page-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header__info-list {
  flex-grow: 1;
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header__info-link {
  display: block;
  font-size: 16px;
  line-height: 24px;
  color: #454545;
  font-weight: 700;
}

.page-header__info-link:hover {
  color: #985336;
}

.page-header__info-link:focus {
  color: #985336;
}

.page-header__info-link:active {
  color: rgba(152, 83, 54, 0.6);
}

.page-header__info-text {
  font-size: 16px;
  line-height: 24px;
  color: #454545;
  font-weight: 700;
}

.main-menu__link {
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 95px;
  color: #e8e6e6;
  font-weight: 700;
  text-transform: uppercase;
}

.main-menu__link:hover {
  color: #985336;
}

.main-menu__link:focus {
  color: #985336;
}

.main-menu__link:active {
  color: rgba(152, 83, 54, 0.6);
}

.main-menu__link--current {
  color: #2c2c2b;
}

.main-menu__link--current:hover {
  color: #2c2c2b;
}

.slider__slogan {
  font-size: 72px;
  line-height: 95px;
  font-family: "Vani", 'Times New Roman', serif;
  font-weight: bold;
  text-transform: uppercase;
}

.slider__text--white {
  color: #ffffff;
}


.slider__text--brown {
  color: #985336;
}

.slider__btn {
  font-size: 30px;
  letter-spacing: 1px;
  line-height: 95px;
  color: #ffffff;
  font-weight: 400;
}


.section-title {
  font-size: 36px;
  letter-spacing: 1px;
  line-height: 95px;
  color: #212121;
  font-family: "Vani", 'Times New Roman', serif;
  font-weight: bold;
}

.about__title {
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 30px;
  color: #212121;
  font-family: "Vani", 'Times New Roman', serif;
  text-align: center;
}

.statistics__price {
  font-size: 60px;
  letter-spacing: 2px;
  line-height: 30px;
  color: #995437;
  font-family: "Vani", 'Times New Roman', serif;
  font-weight: bold;
  text-align: center;
}

.statistics__text {
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 30px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
}

.services__title {
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 30px;
  color: #212121;
  font-family: "Vani", 'Times New Roman', serif;
  text-align: right;
}


.appointment .section-title {
  color: #ffffff;
}

.appointment__description {
  color: #ffffff;
}


.barbers__name {
  font-size: 24px;
  letter-spacing: 1px;
  line-height: 95px;
  color: #0b0b0b;
  font-family: "Vani", 'Times New Roman', serif;
  font-weight: bold;
}


.reviews .section-title {
  color: #ffffff;
}

.reviews__description {
  color: #ffffff;
}

.reviews__text {
  color: #ffffff
}

.reviews__name {
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 26px;
  color: #ffffff;
  font-family: "Vani", 'Times New Roman', serif;
  text-align: center;
}