@font-face {
  font-weight: 400;
  font-family: "Quattrocento Sans";
  font-style: normal;

  src: url("../fonts/quattrocento-sans-v12-latin-regular.woff2") format("woff2"),
    url("../fonts/quattrocento-sans-v12-latin-regular.woff") format("woff");
}

@font-face {
  font-weight: 700;
  font-family: "Quattrocento Sans";
  font-style: normal;

  src: url("../fonts/quattrocento-sans-v12-latin-700.woff2") format("woff2"),
    url("../fonts/quattrocento-sans-v12-latin-700.woff") format("woff");
}

@font-face {
  font-weight: 400;
  font-family: "Vani";
  font-style: normal;

  src: url("../fonts/Vani.woff2") format("woff2"),
    url("../fonts/Vani.woff") format("woff");
}

/* globals */

body {
  min-width: 1170px;

  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  font-family: "Quattrocento Sans", Arial, sans-serif;
  color: #3d3d3d;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}

.container {
  position: relative;

  width: 1140px;
  margin: 0 auto;
}

/* page-header */

.page-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 9px;
}

.page-header__info-list {
  display: flex;
  align-items: center;
  width: 920px;
  margin: 0;
  padding: 0;
  padding-top: 3px;

  list-style: none;
}

.page-header__info-item:nth-of-type(1) {
  width: 165px;
  margin-right: 36px;
  padding-left: 46px;
}

.page-header__info-item:nth-of-type(2) {
  width: 225px;
  margin-right: 42px;
  padding-left: 46px;
}

.page-header__info-item:nth-of-type(3) {
  width: 95px;
  padding-left: 46px;
}

.page-header__info-item:nth-of-type(4) {
  width: 30px;
  margin-left: auto;
}

.page-header__info-link {
  display: block;

  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #454545;
  letter-spacing: 0.4px;
}

.page-header__info-item {
  position: relative;
}

.page-header__info-item::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 6px;

  display: block;
  width: 19px;
  height: 19px;

  background-image: url("../img/phone.png");
  background-repeat: no-repeat;
}

.page-header__info-item:nth-of-type(2)::before {
  top: 13px;
  left: 12px;

  width: 14px;
  height: 21px;

  background-image: url("../img/map.png");
}

.page-header__info-item:nth-of-type(3)::before {
  top: 29px;
  left: 6px;

  width: 21px;
  height: 21px;

  background-image: url("../img/clock.png");
}

.page-header__info-item:nth-of-type(4)::before {
  top: -11px;
  left: 10px;

  background-image: url("../img/search.png");
}

.page-header__info-link:hover {
  color: #985336;
}

.page-header__info-link:focus {
  color: #985336;
}

.page-header__info-link:active {
  color: rgba(152, 83, 54, 0.6);
}

.page-header__info-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #454545;
  letter-spacing: 0.4px;
}

.page-header__nav {
  position: relative;
  z-index: 10;

  background-color: rgba(0, 0, 0, 0.25);
}

/* main-menu */

.main-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-left: 44px;

  list-style: none;
}

.main-menu__link {
  display: block;
  padding: 23px 21px;
  padding-bottom: 21px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: #e8e6e6;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.main-menu__link:hover {
  color: #985336;
}

.main-menu__link:focus {
  color: #985336;
}

.main-menu__link:active {
  color: rgba(152, 83, 54, 0.6);
}

.main-menu__link--current {
  color: #2c2c2b;

  background-color: rgba(153, 84, 55, 0.25);
  border-bottom: 2px solid #995437;
}

.main-menu__link--current:hover {
  color: #2c2c2b;
}

/* slider */

.slider {
  margin-top: -75px;

  background: radial-gradient(circle, rgb(171, 171, 171) 0%, rgb(155, 155, 155) 100%);
}

.slider__list {
  width: 1831px;
  margin: 0 auto;
  padding: 0;

  list-style: none;
}

.slider__item {
  position: relative;
}

.slider__img {
  height: auto;
}

.slider__slogan {
  position: absolute;
  top: 262px;
  left: 349px;

  width: 486px;

  font-weight: bold;
  font-size: 72px;
  line-height: 95px;
  font-family: "Vani", "Times New Roman", serif;
  text-transform: uppercase;
}

.slider__text {
  letter-spacing: 6.5px;
}

.slider__text--white {
  color: #ffffff;
}

.slider__text--brown {
  color: #985336;
}

.slider__btn-round {
  position: absolute;
  top: 495px;
  z-index: 10;

  display: block;
  width: 65px;
  height: 65px;

  border: 2px solid #985336;
  border-radius: 50%;
}

.slider__btn-round::before {
  content: "";
  position: absolute;
  top: 23px;
  left: 28px;

  width: 14px;
  height: 14px;

  border: 2px solid #985336;
  border-top: none;
  border-right: none;
  transform: rotate(45deg);
}

.slider__btn--back {
  left: -320px;
}

.slider__btn--front {
  right: -320px;

  transform: rotate(180deg);
}

.slider__btn-round:focus,
.slider__btn-round:hover {
  background-color: #985336;
}

.slider__btn-round:focus::before,
.slider__btn-round:hover::before {
  border-color: #ffffff;
}

.slider__btn-round:active {
  opacity: 0.7;
}

.slider__btn-round:active::before {
  opacity: 0.7;
}

.slider__input:focus+.slider__btn-round {
  background-color: #985336;
  outline: auto;
}

.slider__input:focus+.slider__btn-round {
  background-color: #985336;
  outline: auto;
}

.slider__input:focus+.slider__btn-round::before {
  border-color: #ffffff;
}


.slider__btn {
  display: inline-block;
  box-sizing: border-box;
  margin-top: 35px;
  padding: 15px 20px;

  font-weight: 400;
  font-size: 30px;
  line-height: 1.5;
  font-family: "Quattrocento Sans", "Arial", sans-serif;
  color: #ffffff;
  text-transform: capitalize;
  letter-spacing: 0.025em;

  border: 2px solid #985336;
}

.slider__btn:focus,
.slider__btn:hover {
  background-color: #985336;
}

.slider__btn:active {
  opacity: 0.7;
}



.section-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 95px;
  font-family: "Vani", "Times New Roman", serif;
  text-align: center;
  color: #212121;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.section-title--white {
  color: #ffffff;
}

.section-img {
  position: relative;

  width: 68px;
  height: 18px;
  margin: 0 auto;

  background-image: url("../img/mustach.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.section-img::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -120px;

  width: 90px;
  height: 1px;

  background-color: #985336;
}

.section-img::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -120px;

  width: 90px;
  height: 1px;

  background-color: #985336;
}

.about__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.about__item {
  box-sizing: border-box;
  width: 360px;
  padding: 28px;

  background-color: #f0f0f0;
  border: 1px solid #d5d3d3;
}

.about__title {
  position: relative;
  font-size: 20px;
  line-height: 30px;
  font-family: "Vani", "Times New Roman", serif;
  text-align: center;
  color: #212121;
  letter-spacing: 1px;
}

.about__title::after {
  content: "";
  position: absolute;

  bottom: 0;
  left: calc(50% - (97px / 2));

  width: 97px;
  height: 2px;

  background-color: #985336;

}

.about__text {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
  color: #3d3d3d;
  text-align: center;
}

.statistics__price {
  font-weight: bold;
  font-size: 60px;
  line-height: 30px;
  font-family: "Vani", "Times New Roman", serif;
  text-align: center;
  color: #995437;
  letter-spacing: 2px;
}

.statistics__text {
  margin-top: 10px;

  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
  letter-spacing: 0.05em;
}

.services__title {
  font-size: 20px;
  line-height: 30px;
  font-family: "Vani", "Times New Roman", serif;
  text-align: right;
  color: #212121;
  letter-spacing: 1px;
}


.appointment__description {
  color: #ffffff;
}

.about__description {
  width: 554px;
  margin: 0 auto;

  text-align: center;
}


.barbers__name {
  font-weight: bold;
  font-size: 24px;
  line-height: 95px;
  font-family: "Vani", "Times New Roman", serif;
  color: #0b0b0b;
  letter-spacing: 1px;
}


.reviews .section-title {
  color: #ffffff;
}

.reviews__description {
  color: #ffffff;
}

.reviews__text {
  color: #ffffff;
}

.reviews__name {
  font-size: 20px;
  line-height: 26px;
  font-family: "Vani", "Times New Roman", serif;
  text-align: center;
  color: #ffffff;
  letter-spacing: 1px;
}

.statistics {
  padding-top: 56px;
  padding-bottom: 33px;

  background-color: #000000;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../img/bg-2.jpg");
}

.statistics__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  padding-left: 5px;

  list-style: none;
}

.statistics__item {
  width: 260px;
}

.statistics__price {
  margin: 0;

  line-height: 1;
  letter-spacing: 5.6px;
}

.appointment {
  background-color: #000000;
}

.appointment__form {
  display: flex;
  flex-wrap: wrap;
}

.appointment__column {
  width: 50%;
}

.appointment__textfield {
  box-sizing: border-box;
  width: 100%;
}

.appointment__select {
  box-sizing: border-box;
  width: 100%;
}

.appointment__datefield {
  box-sizing: border-box;
  width: 100%;
}

.appointment__message {
  width: 100%;
}

.gallery__wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 1920px;
  margin: 0 auto;
}